.searchContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.searchInputWrapper {
  display: flex;
  width: 100%;
  background: #fdf6e3;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
  color:#283718;
}

.hasResults {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.searchInput {
  flex: 1;
  background: transparent;
  border: none;
  padding: 8px;
  outline: none;
}

.searchResultsList {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fdf6e3;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1000;
  box-sizing: border-box;
  padding: 20px 0;
  align-items: center;
  justify-content: center ;
  gap: 20px;
}

.searchResultsList ul {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.resultsUl {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resultItem {
  background-color: #fdf6e3;
  color: #283718;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
}

.resultItem:hover {
    filter: brightness(1.1);
}

.highlight {
  animation: pulseBrightness 2s ease-out;
}

.tagHeader {
  color:#283718;

}

.tagGroup{
  background-color: #A4CCD9;
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.itemBadge {
    font-size: 0.65rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 8px;
    text-transform: uppercase;
    color: white;
}

.itemTitle {
    font-size: 0.9rem;
    color: #283718;
}

.resultItem {
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.text { background-color: #DCA15D; }
.character { background-color: #9DAD5C; }
.timeline { background-color: #9DAD5C; }
.page { background-color: #70A9BC; }

@keyframes pulseBrightness {
  0% { filter: brightness(1.5); }
  100% { filter: brightness(1); }
}