body {
    padding: 0;
    margin: 0;
    background-color: #fefae0 ;
}

.header {
  height: 110px;
  flex-shrink: 0;
  background-color: #283718;
  color: #fefae0;
  padding: 30px 15px 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2.5rem;
}

.campaignGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 25px;
    height: 100%;
    margin-top: 50px;
}

.campaignCard {
    text-decoration: none;
    color:#283718;
    font-size: 20px;
}

.campaignCard:hover {
    color:#fefae0;
}

.campaigns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addButton {
    background-color: #70A9BC;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    margin-top: 20px;
    font-size: 16px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures it is on top of everything */
}

.modalContent {
  background: #9DAD5C;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black; /* Ensure text is readable */
}

.modalContent h3 {
  font-size: 20px;
  color:#283718;
}

.modalInput {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 10px;
  background-color: #fefae0;
  border-radius: 10px;
}

.campaignCardWrapper {
    background-color: #9DAD5C;
    border-radius: 10px;
    padding:20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.deleteBtn {
  font-size: 30px;
}

.deleteBtn:hover {
  color: #EC2C2C;
}

.cancelBtn {
    background: #BE6B25;
    color: #FEFADF;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cancelBtn:hover {
    filter: brightness(1.1);
}

.createBtn {
    background: #283718;
    color: #FEFADF;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.createBtn:hover {
    filter: brightness(1.5);
}

.modalActions {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.deleteModalBtn {
    background: #EC2C2C;
    color: #FEFADF;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.deleteModalBtn:hover {
    filter: brightness(1.1);
}